<% include header.ejs %>
    <header>
        <div><%=title%></div>
    </header>
    <section class="container_ container_">
        <div class="group">
            <input type="text"/>
            <input type="password"/>
            <div></div>
        </div>
    </section>

<% include footer.ejs %>