<% include header.ejs %>
<header class="homepage">
    <nav class="navbar navbar-default affix-top" id="main-nav" role="navigation">
        <div class="container">
            <div class="row">
                <!-- / Logo -->
                <div class="col-md-2 col-xs-2">
                    <div class="logo">
                        <a href=""><img src="" alt="Recruitee logo colors">
                        </a></div>
                </div>
                <!-- / Site menu -->
                <div class="col-md-10 col-xs-10">
                    <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- / Fixed buttons -->
                    <a class="visible-xs" href="https://recruitee.com/#logo" id="goTop">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <!-- / Contact me button -->
                    <button class="contact-me easing animated bounce" data-target="#modal-contact-me" data-toggle="modal" type="button">
                        <img src="/img/2.png" alt="Contact button">
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <!-- / Menu for homepage and subpages -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="home-link">
                                <a href="">首页</a>
                            </li>
                            <li>
                                <a href="">特色</a>
                            </li>
                            <li>
                                <a target="_blank" href="">案例</a>
                            </li>
                            <li>
                                <a href="">价格</a>
                            </li>
                            <li>
                                <a href="">博客</a>
                            </li>
                            <li>
                                <a class="special" href="">免费</a>
                            </li>
                            <li>
                                <a href="">登录</a>
                            </li>
                            <li class="nl-switcher hidden-sm">
                                <a href="">EN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="progress-bar" style="height: 1px; position: absolute; background-color: rgb(35, 168, 245);"></div>
    </nav>
    <div class="v-align">
        <div class="container">
            <div class="headlines">
                <!-- / Homepage -->
                <h1 class="header-headline">
                    遇见 <span>真</span> 你的 <span>love</span>
                </h1>
                <div class="header-subheadline">
                   come here together
                </div>
                <a class="btn btn-default btn-move-left btn-bigger icon-arrow" href="https://recruitee.com/signup">来时 你的 <span>Free</span> 笑容
                </a></div>
        </div>
    </div>
</header>
<!-- / S4 -- Quote + BG -->
<section class="homepage-s4 section-block section-imgbg">
    <div class="container container_">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img class="img-circle" id="drag" src="/img/1.png" alt="Baskohnke" >
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="single-quote">
                    Bas Kohnke
                </div>
                <div class="company">
                    IMPRAISE
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Buttons -- continue tour -->
<script type="application/javascript">
</script>
<% include footer.ejs %>